@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .selected {
    border: 2px solid red;
  }

  .nav-focus {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-cyan-400 focus-visible:z-50;
  }

  /* a {
    @apply font-semibold;
  } */

  a,
  select,
  button,
  input {
    @apply nav-focus;
  }

  select {
    @apply bg-orange-300 font-medium px-2;
  }

  option {
    @apply bg-orange-300 font-medium;
  }

  label {
    @apply font-semibold;
  }

  .formButton {
    @apply self-center bg-orange-300 rounded-full px-4 py-2 w-fit font-semibold;
  }

  .productButton {
    @apply bg-orange-400 text-white rounded-full px-8 py-2 w-fit font-semibold self-center;
  }

  .formInput {
    @apply indent-1 border border-slate-800 rounded-sm;
  }

  .productsContainer {
    width: 75%;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-auto-rows: 25rem; */
  }
}

.cartProductsContainer {
  /* width: 75%; */
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 100%));
}

*,
*::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}