@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .selected {
    border: 2px solid red;
  }

  .nav-focus {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-sky-400 focus-visible:z-50;
  }

  /* a {
    @apply font-semibold;
  } */

  a,
  select, 
  input,
  button
  {
    @apply nav-focus;
  }

  select {
    @apply bg-sky-300 font-medium px-2;
  }

  option {
    @apply bg-sky-300 font-medium;
  }

  label,
  a {
    @apply font-semibold;
  }

  .formButton {
    @apply self-center bg-sky-300 rounded-full px-4 py-2 w-fit font-semibold hover:bg-sky-400;
  }

  .productButton {
    @apply bg-sky-300 text-black rounded-full px-4 py-2 w-fit font-semibold self-center hover:bg-sky-400;
  }

  .formInput {
    @apply indent-1 border border-[#292F36] rounded-sm;
  }

  .productsContainer {
    width: 85%;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  }
}

.cartProductsContainer {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(auto, 100%));
}

/* minmax(auto, 100%) */

*,
*::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}